altair
datasets==1.11.0
folium
matplotlib==3.4.3
nltk==3.6.2
numpy==1.21.2
openai==0.27.0
pandas==1.3.3
plotly==5.3.1
pydeck==0.7.0
protobuf<3.20.0
requests==2.26.0
scipy==1.7.1
seaborn==0.11.2
streamlit
streamlit-folium
streamlit-tags
stqdm
wordcloud==1.8.1
spacy
